<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-slides [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
          <ion-slide *ngFor="let img of loadedItem.image">
            <img [src]="img">
          </ion-slide>
        </ion-slides>
        <ion-card-content>
          <ion-card-title>Model: {{ loadedItem.model }}</ion-card-title>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col size="1">
                  <ion-icon name="pricetags-outline"></ion-icon>
                </ion-col>
                <ion-col>
                  <h2>Rp {{ loadedItem.price }}</h2>
                </ion-col>
                <ion-col  size="1">
                  <ion-icon name="analytics-outline"></ion-icon>
                </ion-col>
                <ion-col>
                  <h2>Tersedia {{ loadedItem.stock }}</h2>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-card-title class="detail">Tentang produk</ion-card-title>
          <ion-item *ngIf="cpu">
            <ion-list>
              <ion-item>
                <ion-label>Category: {{ loadedItem.category }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Brand: {{ loadedItem.brand }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Base clock: {{ loadedItem.baseClock }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Boost clock: {{ loadedItem.boostClock }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Core count: {{ loadedItem.coreCount }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Thread count: {{ loadedItem.threadCount }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-item>

          <ion-item *ngIf="ram">
            <ion-list>
              <ion-item>
                <ion-label>Category: {{ loadedItem.category }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Speed: {{ loadedItem.speed }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Size: {{ loadedItem.size }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-item>

          <ion-item *ngIf="mb">
            <ion-list>
              <ion-item>
                <ion-label>Category: {{ loadedItem.category }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Chipset: {{ loadedItem.chipset }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Processor: {{ loadedItem.processor }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-item>

          <ion-item *ngIf="gpu">
            <ion-list>
              <ion-item>
                <ion-label>Category: {{ loadedItem.category }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-item>

        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
