ion-item {
    --background: #ddd1b1;
    border-radius: 16px;
    margin-bottom: 8px;
}

ion-list {
    background-color: #ddd1b1;
}

.ion-content {
    padding: 24px;
    background-color: #ddd1b1;
}

ion-button {
    --background: #B6DCB6;
    --color: black;
}

.info {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 16px;
}